:root {
    /* FONT-SIZE ///////////////////////////////// */
    --fs-9: 9px;
    --fs-10: 10px;
    --fs-12: 12px;
    --fs-13: 13px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-32: 32px;
    --fs-44: 44px;
    --fs-48: 48px;
    /* LINE-HEIGHT ///////////////////////////////// */
    --line-13: 13px;
    --line-15: 15px;
    --line-18: 18px;
    --line-19: 19px;
    --line-20: 20px;
    --line-21: 21px;
    --line-22: 22px;
    --line-24: 24px;
    --line-25: 25px;
    --line-27: 27px;
    --line-28: 28px;
    --line-30: 30px;
    --line-38: 38px;
    --line-44: 44px;
    --line-55: 55px;
    --line-60: 60px;
    /* font-font */
    --fw-300: 300;
    --fw-400: 400;
    --fw-500: 500;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
    --fw-900: 900;

    /* COLOR////////////////////////////////////////// */
    --white: #FFF;
    --black: #000;
    --grey: #FBFDFF33;
    --dark: #020D15;
    --shadow-color: #2746ED80;
    --blue-1: #0389FF;
    --input-bg: #FBFDFF12;
    --position-box: #0389FF1F;
}
 .position-box{
    color: var(--position-box);
 }
.input_bg{
    color: var(--input-bg);
}
.blue-1{
    color: var(--blue-1);
}
.shadow-color{
color: var(--shadow-color);
}
.fw-300 {
    font-weight: var(--fw-300);
}

.fw-400 {
    font-weight: var(--fw-400);
}

.fw-500 {
    font-weight: var(--fw-500);
}

.fw-600 {
    font-weight: var(--fw-600);
}

.fw-700 {
    font-weight: var(--fw-700);
}

.fw-800 {
    font-weight: var(--fw-800);
}

.fw-900 {
    font-weight: var(--fw-900);
}

.jakar-f {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.white {
    color: var(--white);
}

.black {
    color: var(--black);
}

.grey {
    color: var(--grey);
}

.dark {
    color: var(--dark);
}

.fs-9 {
    font-size: var(--fs-9);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-12 {
    font-size: var(--fs-12);
}

.fs-13 {
    font-size: var(--fs-13);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-48 {
    font-size: var(--fs-48);
}

.line-13 {
    line-height: var(--line-13);
}

.line-15 {
    line-height: var(--line-15);
}

.line-18 {
    line-height: var(--line-18);
}

.line-19 {
    line-height: var(--line-19);
}

.line-20 {
    line-height: var(--line-20);
}

.line-21 {
    line-height: var(--line-21);
}

.line-22 {
    line-height: var(--line-22);
}

.line-24 {
    line-height: var(--line-24);
}

.line-25 {
    line-height: var(--line-25);
}

.line-27 {
    line-height: var(--line-27);
}

.line-28 {
    line-height: var(--line-28);
}

.line-30 {
    line-height: var(--line-30);
}

.line-38 {
    line-height: var(--line-38);
}

.line-44 {
    line-height: var(--line-44);
}

.line-55 {
    line-height: var(--line-55);
}

.line-60 {
    line-height: var(--line-60);
}