@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}

.max-w-1350 {
    max-width: 1350px;
}

.max-w-1140 {
    max-width: 1140px;
}

.pb_ml_0 {
    padding-left: 0;
    margin-bottom: 0;
}

.gap-51 {
    gap: 51px;
}

.op-80 {
    opacity: 80%;
}

.btn_1 {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    max-width: 126px;
    padding: 13px 32px;
    border-radius: 40px;
    border: 0;
    box-shadow: 0px 4px 32px 0px var(--shadow-color);
}

.gap-46 {
    gap: 46px;
}

.pt-16 {
    padding-top: 16px;
}

.pb-16 {
    padding-bottom: 16px;
}

.bg_img {
    background: var(--dark);
    background-image: url(../image/bg-img.png);
    background-repeat: no-repeat;
}

.bg_color_2 {
    background: var(--dark);
}

.bg-img-2 {
    background-image: url(../image/bg-img-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.bg_color_1 {
    border-bottom: 1px solid rgba(251, 253, 255, 0.20);
    background: rgba(251, 253, 255, 0.01);
    backdrop-filter: blur(16.5px);
}

.small_line {
    width: 109px;
    height: 2px;
    border-radius: 2px;
    background: var(--blue-1);
}

.gap-17 {
    gap: 17px;
}

.heading_1 {
    max-width: 524px;
}

.pt-6 {
    padding-top: 6px;
}

.pt-81 {
    padding-top: 81px;
}

.para_1 {
    max-width: 515px;
}

.op-70 {
    opacity: 70%;
}

.pt-82 {
    padding-top: 82px;
}

.btn_2 {
    max-width: 178px;
    padding: 13px 32px;
    border-radius: 40px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border: 0;
}

.mt-28 {
    margin-top: 28px;
}

.para_2 {
    max-width: 617px;
}

.pt-8 {
    padding-top: 8px;
}

.input_box {
    max-width: 520px;
    border-radius: 20px;
    background: var(--input-bg);
}

.input_padding {
    padding: 14px 0px 13px 33px;
}

.btn_3 {
    max-width: 162px;
    padding: 13px 32px;
    border-radius: 40px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border: 0;
}

.mt-46 {
    margin-top: 46px;
}

.pb-82 {
    padding-bottom: 82px;
}

.position_box {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(4px) !important;
    top: 36%;
    left: -9%;
}

.position_box_2 {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(4px) !important;
    top: 63%;
    left: -12%;
}

.position_box_3 {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(8px) !important;
    top: 73%;
    right: 11%;
}

.position_box_4 {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(8px) !important;
    top: 49%;
    right: -8%;
}

.gap-20 {
    gap: 20px;
}

.rotate {
    animation: rotate 10s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pb-134 {
    padding-bottom: 134px;
}

.bg_transparent {
    background: transparent;
    filter: var(--black);
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.5s ease-in-out;
}

.bg_transparent:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.mt--2 {
    margin-top: -2px;
}

.cursor {
    cursor: pointer;
}

.compli_ance {
    max-width: 474px;
}

.btn_4 {
    padding: 13px 32px;
    border-radius: 40px;
    max-width: 213px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border: 0;
}

.pt-28 {
    padding-top: 28px;
}

.box_1 {
    max-width: 531px;
    border-radius: 10px;
    background: var(--position-box);
    padding: 17px 58px 35px 15px;
}

.small_box {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: var(--small-box);
}

.posu_ere {
    max-width: 370px;
}

.pt_5 {
    padding-top: 5px;
}

.gap-22 {
    gap: 22px;
}

.box_2 {
    background: var(--position-box);
    border-radius: 10px;
    padding: 22px 0px 23px 22px;
    background: var(--position-box);
    max-width: 531px;
}
.mt-10{
    margin-top: 10px;
}
.pt-102{
    padding-top: 102px;
}
.small_box_2{
    max-width: 400px;
    border-radius:  10px;
    padding: 13.87px 0px 13.87px 16px;
    background:var(--position-box);
}
.box_circle{
    height: 52px;
    width: 51px;
background: var(--position-box);
border-radius: 26px;
}
.gap-14{
    gap: 14px;
}
.mt-44{
    margin-top: 44px;
}
.mt-16{
    margin-top: 16px;
}
.pb-177{
    padding-bottom: 177px;
}
.pt-17{
    padding-top: 17px;
}
 










@media (max-width:1199px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms linear;
        backdrop-filter: blur(80px) !important;
        z-index: 4;


    }

    .menu {
        z-index: 60;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .right {
        left: 0%;
    }

    .flex-col {
        flex-direction: column;
    }

    .gap-150 {
        gap: 20px;
    }
}