@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style-type: none !important;
    text-decoration: none !important;
    /* outline: 1px solid red !important; */
}

.max-w-1350 {
    max-width: 1350px;
}

.max-w-1140 {
    max-width: 1140px;
}

.pb_ml_0 {
    padding-left: 0;
    margin-bottom: 0;
}

.gap-51 {
    gap: 51px;
}

.op-80 {
    opacity: 80%;
}

.btn_1 {
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    max-width: 126px;
    padding: 13px 32px;
    border-radius: 40px;
    border: none;
    transition: all 400ms linear;
}

.btn_1:hover {
    color: var(--blue-1);
    background: var(--white);
    transform: scale(1);
    box-shadow: 0px 4px 32px 0px var(--shadow-color);
}



.gap-46 {
    gap: 46px;
}

.pt-16 {
    padding-top: 16px;
}

.pb-16 {
    padding-bottom: 16px;
}

.bg_img {
    background: var(--dark);
    background-image: url(../image/bg-img.png);
    background-repeat: no-repeat;
}

.bg_color_2 {
    background: var(--dark);
}

.bg-img-2 {
    background-image: url(../image/bg-img-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

.bg_color_1 {
    border-bottom: 1px solid rgba(251, 253, 255, 0.20);
    background: var(--dark);
}

.small_line {
    width: 109px;
    height: 2px;
    border-radius: 2px;
    background: var(--blue-1);
}

.gap-17 {
    gap: 17px;
}

.heading_1 {
    max-width: 524px;
}

.pt-6 {
    padding-top: 6px;
}

.pt-81 {
    padding-top: 81px;
}

.para_1 {
    max-width: 515px;
}

.op-70 {
    opacity: 70%;
}

.pt-82 {
    padding-top: 82px;
}

.btn_2 {
    max-width: 178px;
    padding: 13px 32px;
    border-radius: 40px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border: 0;
    transition: all 400ms linear;
}

.btn_2:hover {
    color: var(--blue-1);
    background: var(--white);
    transform: scale(1);
    box-shadow: 0px 4px 32px 0px var(--shadow-color);

}


.mt-28 {
    margin-top: 28px;
}

.para_2 {
    max-width: 617px;
}

.pt-8 {
    padding-top: 8px;
}

.input_box {
    max-width: 520px;
    border-radius: 20px;
    background: var(--input-bg);
}

.input_padding {
    padding: 14px 0px 13px 33px;
}

.btn_3 {
    max-width: 162px;
    padding: 13px 32px;
    border-radius: 40px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border: 0;
}

.mt-46 {
    margin-top: 46px;
}

.pb-82 {
    padding-bottom: 82px;
}

.position_box {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(4px) !important;
    top: 36%;
    left: -9%;
}

.position_box_2 {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(4px) !important;
    top: 63%;
    left: -12%;
}

.position_box_3 {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(8px) !important;
    top: 73%;
    right: 11%;
}

.position_box_4 {
    max-width: 221px;
    border-radius: 12px;
    padding: 16px 20px;
    background: var(--position-box);
    backdrop-filter: blur(8px) !important;
    top: 49%;
    right: 3%;
}

.gap-20 {
    gap: 20px;
}

.rotate {
    animation: rotate 10s linear infinite;
}


@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.pb-134 {
    padding-bottom: 134px;
}

.bg_transparent {
    background: transparent;
    filter: var(--black);
    -webkit-filter: grayscale(1);
    -webkit-transition: all 0.5s ease-in-out;
}

.bg_transparent:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

.mt--2 {
    margin-top: -2px;
}

.cursor {
    cursor: pointer;
}

.compli_ance {
    max-width: 474px;
}

.btn_4 {
    padding: 13px 32px;
    border-radius: 40px;
    max-width: 213px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border: 0;
    transition: all 400ms linear;
}

.btn_4:hover {
    color: var(--blue-1);
    background: var(--white);
    transform: scale(1);
    box-shadow: 0px 4px 32px 0px var(--shadow-color);

}

.pt-28 {
    padding-top: 28px;
}

.box_1 {
    max-width: 531px;
    border-radius: 10px;
    background: var(--position-box);
    padding: 17px 58px 35px 15px;
    transition: all 400ms linear;
}

.box_1:hover {
    box-shadow: 0px 0px 10px 0px var(--blue-1);
}

.small_box {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    background: var(--small-box);
    transition: all 400ms linear;
}

.box_1:hover .small_box {
    box-shadow: 0px 0px 10px 0px var(--blue-1);

    .transition_scale {
        transform: scale(1.1);
    }
}

.posu_ere {
    max-width: 370px;
}

.pt_5 {
    padding-top: 5px;
}

.gap-22 {
    gap: 22px;
}

.box_2 {
    background: var(--position-box);
    border-radius: 10px;
    padding: 22px 0px 23px 22px;
    background: var(--position-box);
    max-width: 531px;
    transition: all 400ms linear;
}

.box_2:hover {
    box-shadow: 0px 0px 10px 0px var(--blue-1);
}

.mt-10 {
    margin-top: 10px;
}

.pt-102 {
    padding-top: 102px;
}

.small_box_2 {
    max-width: 400px;
    border-radius: 10px;
    padding: 13.87px 0px 13.87px 16px;
    background: var(--position-box);
    transition: all 400ms linear;
}

.small_box_2:hover {
    box-shadow: 0px 0px 10px 0px var(--white);

    .transition_scale {
        transform: scale(1.1);
    }
}


.box_circle {
    height: 52px;
    width: 51px;
    background: var(--position-box);
    border-radius: 26px;
}

.gap-14 {
    gap: 14px;
}

.mt-44 {
    margin-top: 44px;
}

.mt-16 {
    margin-top: 16px;
}

.pb-177 {
    padding-bottom: 177px;
}

.pt-17 {
    padding-top: 17px;
}

.max-width_1 {
    max-width: 615px;
}

.max-width_2 {
    max-width: 645px;
}

.pt-130 {
    padding-top: 130px;
}

.slider_box {
    max-width: 948px;
    border-radius: 20px;
    background: var(--position-box);
    padding: 27px 56px 42px 56px;
}

.quick_well {
    max-width: 834px;
}

.pt-13 {
    padding-top: 13px;
}

.pt-46 {
    padding-top: 46px;
}

.we_proide {
    max-width: 467px;
}

.btn_learn {
    border: 0;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    padding: 13px 32px;
    max-width: 150px;
    border-radius: 40px;
    transition: all 400ms linear;
}

.btn_learn:hover {
    color: var(--blue-1);
    background: var(--white);
    transform: scale(1);
    box-shadow: 0px 4px 32px 0px var(--shadow-color);
}


.pt-77 {
    padding-top: 77px;
}

.pb-77 {
    padding-bottom: 77px;
}

.pb-130 {
    padding-bottom: 130px;
}

.responsive.slick-track {
    display: flex !important;
}

.slick-slide {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    height: inherit !important;
}

.slick-slide .div {
    display: flex !important;
}

.pb-42 {
    padding-bottom: 42px;
}

/* 
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    left: 0;
    margin-bottom: 2px;
    color: var(--white) !important ;
    
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 10px !important;
    line-height: 10px !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '•';
    text-align: center;
    opacity: 1 !important;
    color: white !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: transparent !important;
    width: 53px;
    background: var(--blue-1) !important;
    border-radius: 28px;
}

.slick-dots li button::before {
    color: var(--white) !important;
} */
.slick-dots {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    display: flex !important;
    align-items: center !important;
    justify-content: center;
}

.slick-dots li.slick-active {
    background: var(--blue-1);
    width: 53px !important;
    border-radius: 28px !important;
    height: 10px !important;
    margin-bottom: 10.5px !important;
    transition: all 300ms linear !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: transparent !important;

}

.slick-dots li button:before {
    font-family: slick;
    font-size: 10px !important;
    line-height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px !important;
    height: 10px !important;
    content: '•';
    text-align: center;
    opacity: 1 !important;
    color: var(--white) !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cursor {
    cursor: pointer;
}

.box_4 {
    max-width: 231px;
    cursor: pointer;
    border-radius: 15px;
    background: var(--box-4);
    transition: all 400ms linear;
    padding: 23px 20px 20px 21px;
}

.box_4:hover {
    box-shadow: 0px 0px 20px 0px var(--white);

    .center_box {
        box-shadow: 0px 0px 20px 0px var(--black);
    }

    .center_box_2 {
        box-shadow: 0px 0px 20px 0px var(--black);
    }

    .center_box_3 {
        box-shadow: 0px 0px 20px 0px var(--black);
    }

}

.center_box {
    max-width: 189px;
    border-radius: 22px;
    border: 1px solid var(--border-color);
    background: var(--box-small);
    padding: 19px 14px;
}

.center_box_2 {
    max-width: 189px;
    border-radius: 22px;
    border: 1px solid var(--border-color);
    background: var(--box-small);
    padding: 12px 24px 20px 17px;
}

.center_box_3 {
    max-width: 189px;
    border-radius: 22px;
    border: 1px solid var(--border-color);
    background: var(--box-small);
    padding: 12.66px 7px 6px 13px;
}

.border_box {
    border: 1px dashed var(--border-color_1);
    max-width: 161px;
    border-radius: 5px;
    padding: 9px 7px;
}

.btn_add {
    max-width: 129px;
    border-radius: 44px;
    padding: 3.27px 15px;
    background: linear-gradient(99.45deg, #0389FF 0%, #0069E3 100%);
    border: 0;
}

.pt-10 {
    padding-top: 10px;
}

.gap-63 {
    gap: 63px;
}

.gap-6 {
    gap: 6px;
}

.pt-13 {
    padding-top: 13px;
}

.pt-7 {
    padding-top: 7px;
}

.pt_4 {
    padding-top: 4px;
}

.text_bg {
    background: var(--blue-1);
    max-width: 88px;
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}

.text_bg_3 {
    background: var(--blue-1);
    max-width: 115px;
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}

.text_bg_2 {
    background: var(--blue-1);
    max-width: 41px;
    border-radius: 4px;
    padding: 2.7px 0px 2.7px 0px;
}

.text_bg_1 {
    background: var(--black);
    max-width: 88px;
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}

.text_bg_3_1 {
    background: var(--black);
    max-width: 115px;
    border-radius: 4px;
    padding: 3px 5px 2px 2px;
}

.text_bg_2_1 {
    background: var(--black);
    max-width: 41px;
    border-radius: 4px;
    padding: 2.7px 0px 2.7px 0px;
}

.mt_4 {
    margin-top: 4px;
}

.mt-7 {
    margin-top: 7px;
}

.mt-7 {
    margin-top: 7px;
}

.pt-58 {
    padding-top: 58px;
}

.op-90 {
    opacity: 90%;
}

.pt-25 {
    padding-top: 25px;
}

.max-wid_img {
    max-width: 673px;
}

.position_circle {
    width: 40px;
    height: 34px;
    border-radius: 103px;
    border: 1px solid var(--circle-border);
    background: transparent;
    top: -17px;
    right: -17px;
}

.arrow_2 {
    top: 47%;
    right: 74%;
    max-width: 53px;
}

.arrow_3 {
    top: 47%;
    right: 49%;
    max-width: 53px;
}

.arrow_4 {
    top: 47%;
    right: 24%;
    max-width: 53px;
}

.pt-38 {
    padding-top: 38px;
}

.pt-20 {
    padding-top: 20px;
}

.btn_try {
    max-width: 126px;
    padding: 13px 32px;
    border-radius: 40px;
    background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
    border: 0;
    transition: all 400ms linear;
}

.btn_try:hover {
    color: var(--blue-1);
    background: var(--white);
    transform: scale(1);
    box-shadow: 0px 4px 32px 0px var(--shadow-color);
}


.pt-76 {
    padding-top: 76px;
}

.pt-174 {
    padding-top: 174px;
}

.padding_google {
    padding: 58.32px 53.53px 38.27px 38.27px;
}

.hover_effect {
    transition: all 300ms linear;
}

.hover_effect:hover {
    box-shadow: 0px 0px 10px 0px var(--white);
}

.padding_drop {
    padding: 61.7px 44.56px 70.52px 54.1px;
}

.padding_box {
    padding: 47.94px 116.11px 55.63px 116.68px;
}

.padding_net {
    padding: 44.02px 63.93px 63.67px 84.42px;
}

.padding_5 {
    padding: 66.13px 51.47px 63.94px 35.92px;
}

.padding_6 {
    padding: 59.13px 48.29px 32.64px 35.92px;
}

.padding_7 {
    padding: 64.06px 32.16px 65.88px 57.72px;
}

.padding_8 {
    padding: 64.04px 14.53px 65.88px 49.14px;
}

.border_r {
    border-right: 1px solid var(--border-img);
}

.border_b {
    border-bottom: 1px solid var(--border-img);
}

.pt-71 {
    padding-top: 71px;
}

.acceler_ate {
    max-width: 528.87px;
}

.para_3 {
    max-width: 474px;
}

.pt-8 {
    padding-top: 8px;
}


.pt-121 {
    padding-top: 121px;
}

.image_wid {
    max-width: 507px;
}

.pt-93 {
    padding-top: 93px;
}

.pb-19 {
    padding-bottom: 19px;
}

.pb-28 {
    padding-bottom: 28px;
}

.hero_img {
    max-width: 1209px;
}

.pt-35 {
    padding-top: 35px;
}

.pb-126 {
    padding-bottom: 126px;
}

.box_bottom {
    width: 100%;
    height: 86px;
    background: linear-gradient(180deg, rgba(2, 13, 21, 0) 0%, #020D15 100%);
    bottom: 0;
    left: 0;
}

.box_top {
    width: 100%;
    height: 86px;
    background: linear-gradient(180deg, #020D15 0%, rgba(2, 13, 21, 0) 100%);
    top: 0;
    left: 0;
}

.pt_121 {
    padding-top: 121px;
}

.mx-w-1320 {
    max-width: 1320px;
}

.para_any {
    max-width: 225px;
}

.op-60 {
    opacity: 60%;
}

.pt-19 {
    padding-top: 19px;
}

.gap-10 {
    gap: 10px;
}

.pt-36 {
    padding-top: 36px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-103 {
    padding-top: 103px;
}

.pt-110 {
    padding-top: 110px;
}

.pb-95 {
    padding-bottom: 95px;
}

.last_line {
    width: 100%;
    height: 1px;
    background: var(--box-text);
    opacity: 20%;
}

.op-50 {
    opacity: 50%;
}

.pt-27 {
    padding-top: 27px;
}

.pb-27 {
    padding-bottom: 27px;
}

.transition_1 {
    transition: all 400ms linear;
}

.transition_1:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
}

.footer-bg {
    background: var(--footer_bg) !important;
}

.pt-207 {
    padding-top: 207px;
}

.p_box_1 {
    padding: 51.5px 23.5px;
    border-bottom: 1px solid #FBFDFF20;
}

.p_box {
    padding-top: 58.21px;
}

.gap-23 {
    gap: 23px;
}

.pt-20 {
    padding-top: 20px;
}

.btn_select {
    max-width: 115px;
    padding: 13px 32px;
    opacity: 70%;
    border-radius: 40px;
    background: transparent;
    border: 1px solid var(--box-text);
    transition: all 400ms linear;
}

.card_1 {
    transition: all 400ms linear;
}

.card_1:hover {
    .btn_select {
        background: linear-gradient(159.94deg, rgba(0, 136, 255, 0.58) -14.36%, #0069E3 113.71%);
        box-shadow: 0px 4px 32px 0px var(--shadow-color);
        border: 1px solid var(--shadow-color);
        color: var(--white);
        opacity: 1;
    }

    .hover_effect_1 {
        color: var(--blue-1);
        transition: all 400ms linear;
    }
}

.hover_effect_1 {
    transition: all 400ms linear;
}

.mt-87 {
    margin-top: 87px;
}

.mb-48 {
    margin-bottom: 48px;
}

.bor_der_r {
    border-right: 1px solid #FBFDFF20;
}

.pt-56 {
    padding-top: 56px;
}

.pb-33 {
    padding-bottom: 33px;
}

.underline {
    position: relative;
}

.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1.5px;
    border-radius: 2px;
    background-color: var(--white);
    transition: all 300ms linear;
}

.underline:hover::after {
    width: 100%;
}

.ellips_1 {
    bottom: -10%;
    left: 0;
    z-index: 0;
}














@media (max-width:1199px) {
    .mobile_view {
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 300ms linear;
        background: var(--black);
        /* backdrop-filter: blur(20px) !important; */
        z-index: 4;


    }

    .menu {
        z-index: 60;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .menu span:nth-child(1) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(2) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span:nth-child(3) {
        height: 4px;
        width: 35px;
        background-color: var(--white);
        display: block;
        border-radius: 30px;
    }

    .menu span {
        transition: 300ms linear;
    }

    .cross span:nth-child(1) {
        transform: rotate(42deg) translateY(16px);
        transition: 300ms linear;
    }

    .cross span:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
        transition: 10ms linear;
    }

    .cross span:nth-child(3) {
        transform: rotate(-43deg) translateY(-15px);
        transition: 300ms linear;
    }

    .right {
        left: 0%;
    }

    .flex-col {
        flex-direction: column;
    }

    .gap-150 {
        gap: 20px;
    }
}

@media (max-width: 992px) {
    .border-b {
        border-bottom: 1px solid var(--border-img);
    }
}

@media (max-width: 578px) {


    .border_r {
        border-right: none;
    }

    .border_b {
        border-bottom: none;
    }

    .border-b {
        border-bottom: none;
    }

    .padding_google {
        padding: 30px;
    }

    .padding_drop {
        padding: 30px;
    }

    .padding_box {
        padding: 30px;
    }

    .padding_net {
        padding: 30px;
    }

    .padding_5 {
        padding: 30px;
    }

    .padding_6 {
        padding: 30px;
    }

    .padding_7 {
        padding: 30px;
    }

    .padding_8 {
        padding: 30px;
    }

}

@media (max-width: 768px) {
    .pt-130 {
        padding-top: 10px;
    }

    .p_box {
        padding-top: 10px;
    }

    .pt-77 {
        padding-top: 30px;
    }

    .pt-207 {
        padding-top: 40px;
    }

    .pb-77 {
        padding-bottom: 40px;
    }

    .pt-174 {
        padding-top: 50px;
    }

    .pt-71 {
        padding-top: 40px;
    }

    .pt-121 {
        padding-top: 40px;
    }

    .pt-93 {
        padding-top: 10px;
    }

    .pb-134 {
        padding-bottom: 20px;
    }

    .pt-28 {
        padding-top: 16px;
    }

    .pb-177 {
        padding-bottom: 30px;
    }

    .pt-102 {
        padding-top: 40px;
    }

    .pt-82 {
        padding-top: 40px;
    }

    .pb-82 {
        padding-bottom: 40px;
    }

    .pt-76 {
        padding-top: 40px;
    }

    .pt-103 {
        padding-top: 40px;
    }

    .bor_der_r {
        border-right: none;
    }

    .bor_top {
        border-top: 1px solid #FBFDFF20;
    }

    .p_box_1 {
        border-bottom: none;
    }

    .pt_121 {
        padding-top: 50px;
    }

    .pb-126 {
        padding-bottom: 60px;
    }

    .pb-95 {
        padding-bottom: 45px;
    }
    .pb-130{
        padding-bottom: 60px;
    }
}

@media (max-width: 992px) {
    .pt--20 {
        padding-top: 20px;
    }

}

@media (max-width: 1200px) {
    .pt-110 {
        padding-top: 30px;
        ;
    }
}